body{
  overflow-x: hidden;
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
      padding-bottom: 70px;
}
@keyframes fadeIn {
  from{
    opacity: 0; 
  }
  to{
    opacity: 1;
  }
}